<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Nopackage" >
        <classes>
            <class name="BaseClass.Driver"></class>
            <class name="Tests.TestLogInPage" />
            <class name="Tests.TestSortProduct" />
            <class name="Tests.TestOrderProduct" />
            <class name="Tests.TestSocialButton" />
        </classes>
    </test>
</suite>
